<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.socify">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash_bg"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme"
        tools:targetApi="31">
        <activity android:name=".Activities.clubs"
            android:screenOrientation="portrait"
            android:exported="false">

        </activity>

        <activity
            android:name=".friend_list"
            android:exported="false"/>
        <activity
            android:name=".Activities.ChatRoom"
            android:screenOrientation="fullSensor"
            android:exported="false" />

        <activity
            android:name=".Activities.FullScreenImg"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Activities.CropperActivity"
            android:screenOrientation="fullSensor"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.Home"
            android:screenOrientation="fullSensor"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>


        <activity
            android:name=".Activities.Registration"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.SlideScreen"
            android:screenOrientation="fullSensor"
            android:exported="true" />
        <activity
            android:name=".Activities.Login"
            android:screenOrientation="fullSensor"
            android:exported="true" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.VerificationActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="fullSensor"
            android:exported="false" />
        <activity
            android:name=".Activities.AllChat"
            android:screenOrientation="fullSensor"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".MessagingServiceFirebase"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/person_login" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/teal_700" />

    </application>

</manifest>